.App {
  text-align: center;
  margin: 20px 0;
}

.space {
  margin-top: 12px;
  text-align: left;
}

.space .space-title {
  font-weight: bold;
  font-size: 18px;
}

.flow {
  height: 480px;
  border: 1px solid #bfbfbf;
}

.flow .flow-list {
  height: 100%;
  overflow-y: auto;
}